{% extends "base-bs5.html" %}
{% block title %}
    Django 4.2 - dj42_proj - Español
{% endblock title %}
{% block content %}
    <style>
        .hidden {
            display: none
        }
    </style>
    <h2>
        Devices -
        {% if device %}
            Update
        {% else %}
            Create
        {% endif %}
    </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if macaddress_formset %}
            <h3>MAC Addresses</h3>
            <div>{{ macaddress_formset.management_form }}</div>
            <div id="macaddress-form-list">
                {% for form in macaddress_formset %}
                    <div class="macaddress-form">
                        <ul>
                            <li>{{ form.as_table }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div id="empty-form" class="hidden">{{ macaddress_formset.empty_form }}</div>
            <div class="form-buttons">
                <input id="add-more"
                       type="button"
                       value="Add more"
                       class="btn btn-primary btn-sm" />
            </div>
        </br>
    {% endif %}
    <div class="form-buttons">
        <input type="submit" value="Save" class="btn btn-primary btn-sm" />
        <a href="{% url 'devices:list' %}" class="btn btn-secondary btn-sm">Cancel</a>
    </div>
</form>
<script>
    const addMoreBtn = document.getElementById("add-more")
    const totalNewForms = document.getElementById('id_macaddress_set-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', add_new_form)
    function add_new_form(event){
        if (event) {
            event.preventDefault()
        }
        const currentMacAddressForms =
            document.getElementsByClassName("macaddress-form")
        const currentFormCount = currentMacAddressForms.length
        const formCopyTarget = document.getElementById("macaddress-form-list")
        const copyEmptyFormElement =
            document.getElementById("empty-form").cloneNode(true)
        copyEmptyFormElement.setAttribute('class', "macaddress-form")
        copyEmptyFormElement.setAttribute('id', `form-${currentFormCount}`)
        const regexp = new RegExp('__prefix__', 'g')
        copyEmptyFormElement.innerHTML =
            copyEmptyFormElement.innerHTML.replace(regexp, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormElement)
    }
</script>
{% endblock content %}
