{% extends "base-bs5.html" %}
{% block content %}
    {% if not request.user.is_authenticated %}
        <div>
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-sm">Register</button>
            </form>
            <p>
                Already have an account? Please <a href="{% url 'accounts:login' %}">Login</a>
            </p>
        </div>
    {% else %}
        <p>
            You're already logged in and cannot register. Would you like to <a href="{% url 'accounts:logout' %}">logout</a>?
        </p>
    {% endif %}
{% endblock content %}
