{% extends "base-bs5.html" %}
{% block title %}
    Django 4.2 - dj42_proj - Español
{% endblock title %}
{% block content %}
    <h2>
        Customers -
        {% if customer %}
            Update
        {% else %}
            Create
        {% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <input type="submit" value="Save" class="btn btn-primary btn-sm" />
            <a href="{% url 'customers:list' %}" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
    </form>
{% endblock content %}
