<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="description" content="Django 4.2 LTS Z2P - Español">
        <meta name="keywords" content="HTML, CSS3">
        <meta name="author" content="Marcelo Herrera Tejada">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Remote IoT Management
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="#">Remote IoT Management</a>
            </div>
            <ul class="navbar__menu">
                <li>
                    <a href="{% url 'customers:customer-list' %}">Customers</a>
                </li>
                <li>
                    <a href="#">Devices</a>
                </li>
            </ul>
        </nav>
        <!-- End Navigation Bar -->
        <!-- Main Content -->
        <div class="main-content">
            {% block content %}
            <h1>Welcome to Remote IoT Management</h1>
            <p>Manage your IoT devices remotely with ease.</p>
            <button>Get Started</button>
            {% endblock content %}
        </div>
        <!-- End Main Content -->
    </body>
</html>
