<!-- Table for customer information -->
<div id="global-list-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Active</th>
                <th scope="col">Created By</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Updated By</th>
                <th scope="col">Update Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">
                    <a href="{% url 'customers:create' %}">
                        <div class="gap-2 col-8 mx-auto justify-content-md-end">
                            <button type="button" class="btn btn-secondary btn-block btn-sm">Add</button>
                        </div>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}" id="success-alert" style="opacity: 500;"{% else %} class="text-center alert alert-info alert-dismissible shadow fade show" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:{% endif %}
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% for customer in object_list %}
                <tr>
                    <td id="{{ customer.id }}">
                        <a href="#{{ customer.id }}" title="Permalink to this item">{{ customer.id }}</a>
                    </td>
                    <td>{{ customer.code }}</td>
                    <td>
                        <a href="{% url 'customers:detail' customer.pk %}" title="Detail">{{ customer.name }}</a>
                    </td>
                    <td>
                        <input id="id_active" type="checkbox" {{ customer.active|yesno:"checked," }} disabled>
                    </td>
                    <td>{{ customer.created_by|default_if_none:"--" }}</td>
                    <td>{{ customer.created_at|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ customer.updated_by }}</td>
                    <td>{{ customer.updated_at|date:'Y-m-d H:i:s' }}</td>
                    <td>
                        <a href="{% url 'customers:update' customer.pk %}">
                            <button type="button" class="btn btn-primary btn-sm">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'devices_assignments:update' customer.pk %}">
                            <button type="button" class="btn btn-secondary btn-sm">Devices</button>
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'customers:delete' customer.pk %}">
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <li>No customers yet.</li>
            {% endfor %}
        </tbody>
    </table>
    {% include "paginator.html" %}
</div>
