<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="description" content="Django 4.2 LTS Z2P - Español">
        <meta name="keywords" content="HTML, CSS3">
        <meta name="author" content="Marcelo Herrera Tejada">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Django 4.2 - dj42_proj - Español
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="{% url 'home' %}">Remote IoT Management</a>
            </div>
            <ul class="navbar__menu">
                <li>
                    <a href="{% url 'customers:list' %}">Customers</a>
                </li>
                <li>
                    <a href="#">Devices</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </nav>
        <!-- End Navigation Bar -->
        <!-- Main Content -->
        <div class="main-content">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- End Main Content -->
    </body>
</html>
